<div class="container">
    <h1 class="text-warning text-center">Table in Bootstrap </h1>
      
    <table class="table table-responsive-sm table-bordered">
      <thead>
          <tr class="bg-dark">
              <th colspan="5" class="text-center text-white"> 
                  User Information.
              </th>
          </tr>
        <tr class="text-center font-weight-bold">
          <th>ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Contact</th>
          
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Arpita</td>
          <td>Devargaonkar</td>
          <td>Arpita@gmai..com</td>
          <td>9130081976</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Anuja</td>
          <td>Sonawane</td>
          <td>Anuja@gmai..com</td>
          <td>9856741255</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Saurabh</td>
          <td>Bhore</td>
          <td>Saurabh@gmai..com</td>
          <td>8087889404</td>
        </tr>
      </tbody>
    </table>
  </div>

